body{
    background-color: rgb(239,240,244);
    width: 100%;
}
header{
    background-color: rgb(95,192,205);
    position: absolute;
    color: white;
    font-weight: bold;
    width: 98%;
    padding: 10px;
    top: 0;
    left: 0;
}
.sign{
    float: left;
    padding-left: 1%;
}
.login{
    position: fixed;
    right: 45%;
    font-size: larger;
}
.login_{
    background-color: rgb(95,192,205);
    position: absolute;
    width: 100%;
    margin-top: 0.5rem;
    color: white;
    text-align: center;
}
.close{
    position: relative;
    float: right;
}
.lgN{
    position: relative;
    right: 0;
    outline: none;
    border: 0;
    padding-left: 12px;
    margin-top: 20px;
    border-left: solid #6e9eff 0.5px;
}
.lgP{
    outline: none;
    border: 0;
    margin-top: 20px;
    border-left: solid #6e9eff 0.5px;
    padding-left: 12px;
}
.forget{
    position: absolute;
    right: 0;
    padding: 1rem;
    margin-top: 1.5rem;
    font-size: 12px;
    text-decoration:underline ;
    color: cornflowerblue;
}