body {
  width: 100%;
  background-color: #EFF0F4;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #5FC0CD;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
.lgN,
.lgP {
  border: 0;
  outline: none;
  padding-left: 14px;
  margin-top: 19px;
  border-left: solid 1px lightgrey;
}
.lg {
  display: flex;
  margin-top: 10px;
}
.login_ {
  background-color: #5FC0CD;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}
.forget {
  color: #5FC0CD;
  position: absolute;
  right: 0;
  margin-top: 3px;
  padding: 8px;
}
